body{
  overflow-x: hidden;
}
.fly{
  position: absolute;
  width: 100px;
  height: auto;
  left:0;
}

/*iframe{
  width: 100%;
  height: 600px;
  background: white;
}*/

.iframe {
  position: relative;
  width: 100%;
  height: 480px;
  background: white;
  border: none;
  box-shadow: 0 0 30px rgba(0,0,0,0.5);
  z-index: 2 !important;
}

.arrow{
  position: relative;
  top: -240px;
  color: blue;
  font-size: 2.5em;
  width: 100%;
  z-index: 2 !important;
}
.arrow a{
  color: blue;
  background: linear-gradient(#F38BD3, #FE7880);
}
.right{
  text-align: right;
  left: 20px;
}
.left{
  text-align: left;
  left: -20px;
}
.loader{
  background: black;
}
.pdesc{
  position: relative;
  top: -220px;
  width: 50%;
  min-width: 200px;
  left: 20px;
  background: linear-gradient(#F38BD3, #FE7880);
  z-index: 2 !important;
}
.pdesc *{
  margin: 0;
  margin-left: 10%;
  width: 80%;
}
.pdesc p{
  font-size: 0.75em;
  color: white;
}
